/**
 * 
 * АНИМАЦИИ
 * 
 */

._animated {
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}

._active {
    transform: translate(0px, 0px);
    opacity: 1;
}

html{
    scroll-behavior: smooth;
}

.header {
    background: linear-gradient(#18b4db, #ffffff);
    width: 100%;
    height: 100px;
}

.logo {
    width: 19%;
    height: 70px;
    margin-top: 40px;
    margin-left: 120px;
}



.phone {
    
    margin-left: 40%;
    margin-top: -70px;
    color: #158be0;
    font-size: 30px;
}

.phone2 {
    
    margin-left: 40%;
    color: #919191;
    font-size: 18px;
}
.phone3 {
    
    margin-left: 40%;
    color: #919191;
    font-size: 18px;
}

.WorkTime1 {
    margin-left: 70%;
    margin-top: -75px;
    color: #158be0;
    font-size: 30px;
}

.WorkTime2 {
    margin-left: 70%;
    color: #919191;
    font-size: 18px;
}

.WorkTime3 {
    margin-left: 70%;
    color: #919191;
    font-size: 18px;
}



.link-ease-in-out a {
    display: inline-block;
    margin-left: 1250px;
    font-size: 18px;
    color: #18b4db; /* Цвет обычной ссылки */
    line-height: 1;
    text-decoration: none; /* Убираем подчеркивание */
    cursor: pointer;
}
.link-ease-in-out a:after {
    background-color: #358bd2; /* Цвет линии при наведении на нее курсора мыши */
    display: block;
    content: '';
    height: 2px; /* Высота линии */
    width: 0%;
    -webkit-transition: width 0.3s ease-in-out;
    -moz--transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
}
.link-ease-in-out a:hover:after,
.link-ease-in-out a:focus:after {
    width: 100%;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    --hero-height: 160px;
    /*
    background-size: cover;
    background-image: url('static/back.png');
    */
}

.header {
    position: relative;
    height: var(--hero-height);
    color: #fff;
    padding: 15px;
    box-sizing: border-box;
    z-index: 0;
    overflow: hidden;
}

.header::before,
.hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background-size: 50% 100%;
    clip-path: url('#wavy-clip');
    z-index: -1;
}

.header::before {
    animation: move-wave1 7s linear infinite;
    transform: translateX(0);
    background-position: 0 0;
    background-image: repeating-linear-gradient(
        to bottom right,
        #b3cef8,
        #6de3f3
    );
    opacity: 0.5;
}

.header::after {
    animation: move-wave2 5s linear infinite;
    transform: translateX(-5%);
    background-position: 10% 0;
    background-image: repeating-linear-gradient(
        to bottom right,
        #9c27b0,
        #3f51b5
    );
}

@keyframes move-wave1 {
    0% {
        background-position: 0 0;
        transform: translateX(0%);
    }
    100% {
        background-position: 84.375% 0;
        transform: translateX(-42.1875%);
    }
}

@keyframes move-wave2 {
    0% {
        background-position: 10% 0;
        transform: translate(-5%, 0);
    }
    50% {
        transform: translate(-26.09375%, -3%);
    }
    100% {
        background-position: 94.375% 0;
        transform: translate(-47.1875%, 0);
    }
}

.main {
    background: url('https://images.unsplash.com/photo-1529257414772-1960b7bea4eb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80')
        center / cover;
    flex: 1;
    margin-top: calc(var(--hero-height) * -0.1104);
}

.Title1 {
    margin-top: 60px;
}

.test {
    margin-top: 1000px;
}

.about {
    margin-top: 20px;
    text-decoration: none;
}



h3,
h4 {
    text-transform: uppercase;
    font-size: 1.1rem;
    margin: 20px 0 30px 0;
}

input,
select,
textarea {
    background: none;
    border: 1px solid black;
    padding: 10px 20px;
    font-size: 0.9rem;
}

select {
    box-sizing: border-box;
    padding: 9px 20px 10px 20px;
}

textarea {
    display: block;
    margin-bottom: 20px;
}

input[type='color'] {
    padding: 8px 8px;
    position: relative;
    bottom: -2px;
}

input[type='date'] {
    padding: 8px 8px;
}

input[type='range'] {
    position: relative;
    bottom: -14px;
}

input[type='date']:active,
input[type='date']:focus,
input[type='color']:active,
input[type='color']:focus,
input[type='password']:active,
input[type='password']:focus,
input[type='email']:active,
input[type='email']:focus,
select:active,
select:focus {
    border-radius: 0 !important;
    outline: none;
}

button {
    background: none;
    border: 1px solid black;
    padding: 10px 20px;
    font-size: 0.9rem;
}

button:active {
    background: #18b4db;
    color: #fff;
}

.out-block {
    font-size: 1rem;
    font-family: monospace;
}

.section {
    margin: 10px 0 10px 0;
    padding: 10px 0 30px 0;
    border-bottom: 1px solid #c2c2c2;
}

.section div {
    margin-bottom: 20px;
}

.red {
    color: IndianRed;
}

.courses {
    margin-top: 40px;
}

.courses li {
    margin-bottom: 20px;
}

.courses a {
    color: #18b4db;
}


.slider {
    width: 80%;
    height: 400px;
    overflow: hidden;
    position: relative;
    margin: auto;
}

.slides {
    width: 700%;
    height: 100%;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 14.2857%;
    transition: 0.6s;
}

.slide img {
    width: 100%;
    height: 100%;
}

.navigation-manual {
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #18b4db;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: #18b4db;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -14.2857%;
}

#radio3:checked ~ .first {
    margin-left: -28.5714%;
}

#radio4:checked ~ .first {
    margin-left: -42.8571%;
}

#radio5:checked ~ .first {
    margin-left: -57.1429%;
}

#radio6:checked ~ .first {
    margin-left: -71.4286%;
}

#radio7:checked ~ .first {
    margin-left: -85.7143%;
}

.navigation-auto {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div {
    border: 2px solid #18b4db;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
    background: #18b4db;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
    background: #18b4db;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
    background: #18b4db;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
    background: #18b4db;
}

#radio5:checked ~ .navigation-auto .auto-btn5 {
    background: #18b4db;
}

#radio6:checked ~ .navigation-auto .auto-btn6 {
    background: #18b4db;
}

#radio7:checked ~ .navigation-auto .auto-btn7 {
    background: #18b4db;
}





.boton1 {
    width: 200px;
    height: 50px;
    margin-top: 30px;
    display: block;
    position: relative;
}

.botontext1 {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 3;
    text-align: center;
    line-height: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
}

.twist1 {
    display: block;
    height: 100%;
    width: 25%;
    position: relative;
    float: left;
    margin-left: -4px;
}

.twist1:before {
    content: '';
    width: 100%;
    height: 100%;
    background: #18b4db;
    bottom: 100%;
    position: absolute;
    transform-origin: center bottom 0px;
    transform: matrix3d(1, 0, 0, 0, 0, 0, -1, -0.003, 0, 1, 0, 0, 0, 0, 0, 1);

    -webkit-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
    -moz-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
    -o-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
    transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995); /* custom */
}

.twist1:after {
    content: '';
    position: absolute;
    width: 100%;
    top: 100%;
    height: 100%;
    background: #18b4db;
    transform-origin: center top 0px;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.003, 0, -50, 0, 1);

    -webkit-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
    -moz-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
    -o-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
    transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995); /* custom */
}

.boton1:hover .twist1:before {
    background: #fff;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0.003, 0, 50, 0, 1);
}

.boton1:hover .twist1:after {
    background: #dedae1;
    transform: matrix3d(1, 0, 0, 0, 0, 0, -1, 0.003, 0, 1, 0, 0, 0, 0, 0, 1);
}

.boton1 .twist1:nth-of-type(1) {
    margin-left: 0;
}

.boton1 .twist1:nth-of-type(1):before,
.boton1 .twist1:nth-of-type(1):after {
    transition-delay: 0s;
}

.boton1 .twist1:nth-of-type(2):before,
.boton1 .twist1:nth-of-type(2):after {
    transition-delay: 0.1s;
}

.boton1 .twist1:nth-of-type(3):before,
.boton1 .twist1:nth-of-type(3):after {
    transition-delay: 0.2s;
}

.boton1 .twist1:nth-of-type(4):before,
.boton1 .twist1:nth-of-type(4):after {
    transition-delay: 0.3s;
}

.boton1 .botontext1:nth-of-type(1) {
    bottom: 100%;
    transform-origin: center bottom 0px;
    transform: matrix3d(1, 0, 0, 0, 0, 0, -1, -0.003, 0, 1, 0, 0, 0, 0, 0, 1);

    -webkit-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
    -moz-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
    -o-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
    transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995); /* custom */
}

.boton1:hover .botontext1:nth-of-type(1) {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0.003, 0, 50, 0, 1);
}

.boton1 .botontext1:nth-of-type(2) {
    color: #fff;
    top: 100%;
    transform-origin: center top 0px;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.003, 0, -50, 0, 1);

    -webkit-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
    -moz-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
    -o-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
    transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995); /* custom */
}

.boton1:hover .botontext1:nth-of-type(2) {
    transform: matrix3d(1, 0, 0, 0, 0, 0, -1, 0.003, 0, 1, 0, 0, 0, 0, 0, 1);
}
.boton2 {
    width: 200px;
    height: 50px;
    margin-top: 30px;
    display: block;
    position: relative;
}

.botontext2 {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 3;
    text-align: center;
    line-height: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
}

.twist2 {
    display: block;
    height: 100%;
    width: 25%;
    position: relative;
    float: left;
    margin-left: -4px;
}

.twist2:before {
    content: '';
    width: 100%;
    height: 100%;
    background: #18b4db;
    bottom: 100%;
    position: absolute;
    transform-origin: center bottom 0px;
    transform: matrix3d(1, 0, 0, 0, 0, 0, -1, -0.003, 0, 1, 0, 0, 0, 0, 0, 1);

    -webkit-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
    -moz-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
    -o-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
    transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995); /* custom */
}

.twist2:after {
    content: '';
    position: absolute;
    width: 100%;
    top: 100%;
    height: 100%;
    background: #18b4db;
    transform-origin: center top 0px;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.003, 0, -50, 0, 1);

    -webkit-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
    -moz-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
    -o-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
    transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995); /* custom */
}

.boton2:hover .twist2:before {
    background: #fff;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0.003, 0, 50, 0, 1);
}

.boton2:hover .twist2:after {
    background: #dedae1;
    transform: matrix3d(1, 0, 0, 0, 0, 0, -1, 0.003, 0, 1, 0, 0, 0, 0, 0, 1);
}

.boton2 .twist2:nth-of-type(1) {
    margin-left: 0;
}

.boton2 .twist2:nth-of-type(1):before,
.boton2 .twist2:nth-of-type(1):after {
    transition-delay: 0s;
}

.boton2 .twist2:nth-of-type(2):before,
.boton2 .twist2:nth-of-type(2):after {
    transition-delay: 0.1s;
}

.boton2 .twist2:nth-of-type(3):before,
.boton2 .twist2:nth-of-type(3):after {
    transition-delay: 0.2s;
}

.boton2 .twist2:nth-of-type(4):before,
.boton2 .twist2:nth-of-type(4):after {
    transition-delay: 0.3s;
}

.boton2 .botontext2:nth-of-type(1) {
    bottom: 100%;
    transform-origin: center bottom 0px;
    transform: matrix3d(1, 0, 0, 0, 0, 0, -1, -0.003, 0, 1, 0, 0, 0, 0, 0, 1);

    -webkit-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
    -moz-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
    -o-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
    transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995); /* custom */
}

.boton2:hover .botontext2:nth-of-type(1) {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0.003, 0, 50, 0, 1);
}

.boton2 .botontext2:nth-of-type(2) {
    color: #fff;
    top: 100%;
    transform-origin: center top 0px;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.003, 0, -50, 0, 1);

    -webkit-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
    -moz-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
    -o-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
    transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995); /* custom */
}

.boton2:hover .botontext2:nth-of-type(2) {
    transform: matrix3d(1, 0, 0, 0, 0, 0, -1, 0.003, 0, 1, 0, 0, 0, 0, 0, 1);
}

.boton3 {
    width: 200px;
    height: 50px;
    margin-top: 30px;
    display: block;
    position: relative;
}

.botontext3 {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 3;
    text-align: center;
    line-height: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
}

.twist3 {
    display: block;
    height: 100%;
    width: 25%;
    position: relative;
    float: left;
    margin-left: -4px;
}

.twist3:before {
    content: '';
    width: 100%;
    height: 100%;
    background: #18b4db;
    bottom: 100%;
    position: absolute;
    transform-origin: center bottom 0px;
    transform: matrix3d(1, 0, 0, 0, 0, 0, -1, -0.003, 0, 1, 0, 0, 0, 0, 0, 1);

    -webkit-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
    -moz-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
    -o-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
    transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995); /* custom */
}

.twist3:after {
    content: '';
    position: absolute;
    width: 100%;
    top: 100%;
    height: 100%;
    background: #18b4db;
    transform-origin: center top 0px;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.003, 0, -50, 0, 1);

    -webkit-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
    -moz-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
    -o-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
    transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995); /* custom */
}

.boton3:hover .twist3:before {
    background: #fff;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0.003, 0, 50, 0, 1);
}

.boton3:hover .twist3:after {
    background: #dedae1;
    transform: matrix3d(1, 0, 0, 0, 0, 0, -1, 0.003, 0, 1, 0, 0, 0, 0, 0, 1);
}

.boton3 .twist3:nth-of-type(1) {
    margin-left: 0;
}

.boton3 .twist3:nth-of-type(1):before,
.boton3 .twist3:nth-of-type(1):after {
    transition-delay: 0s;
}

.boton3 .twist3:nth-of-type(2):before,
.boton3 .twist3:nth-of-type(2):after {
    transition-delay: 0.1s;
}

.boton3 .twist3:nth-of-type(3):before,
.boton3 .twist3:nth-of-type(3):after {
    transition-delay: 0.2s;
}

.boton3 .twist3:nth-of-type(4):before,
.boton3 .twist3:nth-of-type(4):after {
    transition-delay: 0.3s;
}

.boton3 .botontext3:nth-of-type(1) {
    bottom: 100%;
    transform-origin: center bottom 0px;
    transform: matrix3d(1, 0, 0, 0, 0, 0, -1, -0.003, 0, 1, 0, 0, 0, 0, 0, 1);

    -webkit-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
    -moz-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
    -o-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
    transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995); /* custom */
}

.boton3:hover .botontext3:nth-of-type(1) {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0.003, 0, 50, 0, 1);
}

.boton3 .botontext3:nth-of-type(2) {
    color: #fff;
    top: 100%;
    transform-origin: center top 0px;
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.003, 0, -50, 0, 1);

    -webkit-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
    -moz-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
    -o-transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995);
    transition: all 500ms cubic-bezier(0.97, 0, 0.395, 0.995); /* custom */
}

.boton3:hover .botontext3:nth-of-type(2) {
    transform: matrix3d(1, 0, 0, 0, 0, 0, -1, 0.003, 0, 1, 0, 0, 0, 0, 0, 1);
}



.thumb .img {
    padding: 15px; /* Расстояние от картинки до рамки */
    background: #18b4db; /* Цвет фона */
    margin-left: 120px;
    margin-right: 10px; /* Отступ справа */
    margin-bottom: 10px; /* Отступ снизу */
}

.img:hover {
    transform: scale(1.2); /* Увеличиваем масштаб */
}
.test{
    margin-top: 30px;
}

.anchor_container {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 5vh;
    margin-bottom: 3vh;
    margin-left: 15vw;
    align-items: center;
}

.section_header {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: +5vh;
    margin-bottom: 2vh;
    margin-top: 9vh;
    text-align: center;
    color: #0033cc;
}

/**
 * 
 * КАТАЛОГ
 * 
 */

.hr_between_sections {
    height: 1px;
    color: #0033cc;
    background-color: #0033cc;
    width: 70%;
    margin-bottom: 5vh;
}
.catalog_container {
    display: grid;
    grid-template-columns: auto auto auto;
    /* Будет создано 3 ряда */
    grid-template-rows: auto auto;
}

.catalog_card h2 {
    margin-top: 1px;
    margin-bottom: 4px;
}

.catalog_card p {
    margin-top: 1px;
    margin-bottom: 4px;
    font-size: +18px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.catalog_card {
    width: 25vw;
    margin-left: 3vw;
    margin-bottom: 3vw;
    padding-bottom: 0.5vh;
    text-align: center;
}
.catalog_card:hover {
    transform: scale(1.2); /* Увеличиваем масштаб */
}

.catalog_image {
    margin-right: 10px; /* Отступ справа */
    padding: 5%; /* Расстояние от картинки до рамки */
    height: 9vh;
    width: 6vw;
    top: 0.5vh;
}

/** Поочерёдные анимации при скроллинге */
.catalog_card._active:nth-of-type(1) {
    transition: all 0.8s ease 0s;
}
.catalog_card._active:nth-of-type(2) {
    transition: all 0.8s ease 0.2s;
}
.catalog_card._active:nth-of-type(3) {
    transition: all 0.8s ease 0.4s;
}
.catalog_card._active:nth-of-type(4) {
    transition: all 0.8s ease 0s;
}
.catalog_card._active:nth-of-type(5) {
    transition: all 0.8s ease 0.2s;
}
.catalog_card._active:nth-of-type(6) {
    transition: all 0.8s ease 0.4s;
}

/**
 * 
 * ОТЗЫВЫ
 * 
 */

.reviews_container {
    display: grid;
    margin-left: 3vw;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

.review_card:hover {
    transform: scale(1.2); /* Увеличиваем масштаб */
}

.review_card {
    width: 35vw;
    margin-bottom: 1vw;
    padding-bottom: 0.5vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.review_image {
    margin-right: 10px; /* Отступ справа */
    padding: 5%; /* Расстояние от картинки до рамки */
    height: 65vh;
    width: 25vw;
    float: left;
}

.review_card p {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: +18px;
}

/** Поочерёдные анимации при скроллинге */
.review_card._active:nth-of-type(1) {
    transition: all 0.8s ease 0s;
}
.review_card._active:nth-of-type(2) {
    transition: all 0.8s ease 0.2s;
}
.review_card._active:nth-of-type(3) {
    transition: all 0.8s ease 0s;
}
.review_card._active:nth-of-type(4) {
    transition: all 0.8s ease 0.2s;
}

/**
 * 
 * О КОМПАНИИ
 * 
 */

.container_about {
    display: grid;
    grid-template-columns: auto auto;
}

.about_image {
    /*margin-right: -1000px; /* Отступ справа */
    padding: -5%; /* Расстояние от картинки до рамки */
    height: 35vh;
    width: 20vw;
}

.containerdiv{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: +18px;
    margin-left:10vw;
}

/**
 * 
 * ФУТЕР
 * 
 */
 .footer {
    background: #18b4db; /* Blue background */
    color: white;
    padding: 15px 0 30px 10px;
    text-align: center;
    position: relative;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.logo1 img {
    width: 120%; /* Adjust logo size as needed */
    height: auto;
    display: block;
}

.social-links {
    display: flex;
    gap: 10px;
}
.social-links a{
    text-decoration: none;
    font-size: 18px;
}
.social-links a:after {
    background-color: #0033cc; /* Цвет линии при наведении на нее курсора мыши */
    display: block;
    content: "";
    height: 2px; /* Высота линии */
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}
.social-links a:hover:after,
.social-links a:focus:after {
    width: 100%;
}




 